@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Figtree:300,400,500,700,900");
p, li {
  margin-left: 5rem;
  margin-right: 8rem;
  margin-top: 10px;
  letter-spacing: 0.3px;
  font-size: 18.5px;
  }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
body {
  font-family: "Figtree", sans-serif;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin: 0;
  text-align: left;
  background-color: #fff;
  font-weight: 400;
  color: #4a4e53;
  }

.h1, .h2, .h3, .h4, .h5, .h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 700;
  color: #212529;
  margin: 5rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

.h1, h1 {
  font-size: 2.5rem;
  margin-top: 5rem;
  line-height: 25px;
  font-weight: 600;
}

.h2, h2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 10px;
  padding-top: 2rem;
}

.h5, h5 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 0px;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: rgb(68, 137, 160)
}

.container {
  padding-right: 10rem;
  padding-left: 10rem;
}

.banner {
  padding-top:5rem;
  padding-bottom:50px;
  padding-left: 5rem;
  margin-bottom:50px;
  background-color:#eee;
	
}

.project-section-title-bar {
  margin-right:62rem;
  margin-left: 5rem;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 4px;
  background-color: rgb(68, 137, 160);
 }

 .header-image {
  width: 95.5%;
  height: 40rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
 }

 .banner-image {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
 }

 .space {
  width: 100%;
  height: 2rem;
  background-color: #fff;
 }

 .ul, ul {
  font-weight: bold;
  padding-left: 5rem;
 }

